/* Header.css */

.app-container {
    background-color: #414141; /* Background color for the entire website */
    min-height: 100vh; /* Ensure the container takes up the full height of the viewport */
  }
  
  .page-container {
    background-color: #4b4b4b; /* Background color for individual pages */
    padding: 20px; /* Add some padding to the pages */
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.5);
  }
  
  header {
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Align items vertically */
    background-color: #7e7e7e;
    font-size: 1.5em;
    padding: 10px 20px; /* Add padding */
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.5);
  }
  
  nav ul {
    list-style-type: none; /* Removes the bullet points from the list */
    padding: 0; /* Removes default padding */
    margin: 0; /* Remove default margin */
  }
  
  nav ul li {
    display: inline; /* Displays list items horizontally */
    margin-right: 10px; /* Adds space between nav buttons */
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last nav button */
  }
  
  nav ul li a {
    text-decoration: none; /* Removes underline from links */
    color: #ffffff; /* Default color for nav buttons */
  }
  
  nav ul li a.active {
    color: #ffc400; /* Color for active link */
    font-weight: bold;
  }
  
  .name {
    order: -1; /* Move the name to the left */
    margin-left: 20px; /* Add some margin */
  }
  