.page-container {
    padding: 20px;
  }
  
  .edit-title {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .toggle-button {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s;
  }
  
  .toggle-button.open {
    transform: rotate(180deg);
  }
  
  .toggle-button.closed {
    transform: rotate(90deg);
  }
  
  .edit-section {
    margin-top: 10px;
  }
  
  input,
  select {
    display: block;
    margin: 10px 0;
  }
  