body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(48, 48, 48);
  color: rgb(255, 255, 255);
  margin-left: 7em;
  margin-right: 7em;
}

/* Mobile Styles */
@media (max-width: 768px) {
  body {
    margin-left: 0em; /* Reduce margins on smaller screens */
    margin-right: 0em;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
